@media screen and (min-width: 1158px) {
  section {
    padding: 120px 0;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /* -------HEADER------- */
  /* -------HEADER------- */
  /* -------HEADER------- */

  .header-logo {
    margin-right: 76px;
  }

  .contact-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .contact-link:hover,
  .contact-link:focus {
    color: var(--color-pressed-state);
  }

  /*  */
  /*  */
  /** -------------HERO------------*/
  /** -------------HERO------------*/
  /** -------------HERO------------*/

  .hero {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* --------benefits эдвАнтеджес----- */
  /* --------benefits эдвАнтеджес----- */
  /* --------benefits эдвАнтеджес----- */

  .benefits-box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: #f4f4fd;
  }

  .benefits-list {
    gap: 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .benefits-subtitle {
  }

  .benefits-text {
  }
  /* -----SECTION-PRODUCTS----- */
  /* -----SECTION-PRODUCTS----- */
  /* -----SECTION-PRODUCTS----- */

  .products {
  }
  .products-title {
  }
  .products-list {
    display: flex;
    gap: 24px;
  }
  .products-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
  /** ---------OUR-TEAM----------*/
  /** ---------OUR-TEAM----------*/
  /** ---------OUR-TEAM----------*/
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
  /** ---------CUSTOMERS---------*/
  /** ---------CUSTOMERS---------*/
  /** ---------CUSTOMERS---------*/

  .customers-container {
  }
  .customers-list {
    display: flex;
    gap: 24px;
  }

  .customers-item {
    height: 88px;
    flex-basis: calc((100% - 24px * 5) / 6);
  }

  /** --------------FOOTER---------------*/
  /** --------------FOOTER---------------*/
  /** --------------FOOTER---------------*/

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    max-width: 1158px;
    gap: unset;
  }

  .footer-box-logo {
    margin-right: 120px;
  }

  /* -footer-box-soc- */
  .footer-box-soc {
    margin-right: 80px;
  }

  .footer-box-subscribe {
  }

  .footer-subtitle {
  }

  .footer-form-label {
  }

  .footer-form-input {
    width: 264px;
    opacity: unset;
  }
}
