section {
  padding: 96px 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 16px;
  margin: 0 auto;
}

/* -------HEADER------- */
/* -------HEADER------- */
/* -------HEADER------- */

.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-primary-brand);
  text-transform: uppercase;
}

.header-logo {
}

.header-logo-span {
  color: var(--color-dark-navy-blue);
}

.header-menu {
  display: none;
}

.contact {
  display: none;
}

.btn-burger-open {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #2e2f42;
  background-color: transparent;
  border: none;
}
/* --------MOB.MENU-------- */

.mob-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100%;
  padding: 24px 24px 40px 40px;
  background: var(--color-white);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  overflow: auto;
}

.mob-menu-clouse {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.1);
  transition: background-color var(--transition-effect),
    border var(--transition-effect);
}

.mob-menu-clouse:hover,
.mob-menu-clouse:focus {
  background-color: var(--color-pressed-state);
  border: none;
}
.mob-menu-close-icon {
  transition: fill var(--transition-effect);
}

.mob-menu-clouse:hover .mob-menu-close-icon,
.mob-menu-clouse:focus .mob-menu-close-icon {
  fill: var(--color-white);
}

.modal-close-icon {
}

/* - mob-menu-menu - */

.mob-menu-list {
  margin-top: 80px;
  margin-bottom: 20px;
}
.list {
}
.mob-menu-item {
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--color-dark-navy-blue);
  transition: color var(--transition-effect);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: var(--color-pressed-state);
}

.mob-current {
  color: var(--color-primary-brand);
}

/* - mob-menu-contact - */

.mob-menu-contact {
  display: block;
  margin-bottom: 48px;
}

.mob-menu-contact-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-contact [href="tel:+110001111111"] {
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--color-primary-brand);
}

.mob-menu-contact [href="mailto:info@devstudio.com"] {
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* -- mob-menu-soc -- */
.mob-menu-soc-list {
  display: flex;
  max-width: 328px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.mob-menu-soc-item {
}
.soc-item {
}

.mob-menu-soc-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-primary-brand);
  transition: background-color var(--transition-effect);
}

.mob-menu-soc-link:hover,
.mob-menu-soc-link:focus {
  background-color: var(--color-pressed-state);
}

.soc-icon {
  fill: var(--color-light-cloud);
}
.mob-menu--soc-icon {
}

/* .mob-menu-icon {
  stroke: #2e2f42;
} */

/** --------------HERO---------------*/
/** --------------HERO---------------*/
/** --------------HERO---------------*/

.hero {
  background-color: var(--color-dark-navy-blue);
  padding: 112px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

@media (min-resolution: 192dpi) {
  .box {
    background-image: url("../images/hero-image@2x-min.jpg");
  }
}

.hero-container {
}

.hero-title {
  max-width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.hero-btn {
  min-width: 169px;
  padding: 16px 32px;

  transition: background-color var(--transition-effect);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-pressed-state);
}

/* --------benefits  эдвАнтеджес----- */
/* --------benefits  эдвАнтеджес----- */
/* --------benefits  эдвАнтеджес----- */

.benefits {
}

.benefits-container {
}

.benefits-title {
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-item {
  flex-basis: 100%;
}

.benefits-box-icon {
  display: none;
}

.benefits-subtitle {
  margin-bottom: 8px;
}
.benefits-text {
}

/* SECTION-PRODUCTS display: none;*/
/*  */
/*  */
/** ---------OUR-TEAM----------*/
/** ---------OUR-TEAM----------*/
/** ---------OUR-TEAM----------*/

.team {
  background-color: var(--color-light-cloud);
}

.team-container {
  max-width: 584px;
}

.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-item {
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-box-text {
  padding: 32px 0;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  margin: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-soc-item {
}
.soc-item {
}

.team-soc-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-primary-brand);
  transition: background-color var(--transition-effect);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-pressed-state);
}

.soc-icon {
  fill: var(--color-light-cloud);
}
.team-soc-icon {
}

/** ---------CUSTOMERS---------*/
/** ---------CUSTOMERS---------*/
/** ---------CUSTOMERS---------*/

.customers {
}
.customers-container {
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  height: 88px;
  flex-basis: calc((100% - 16px) / 2);
}

.cust-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  transition: color var(--transition-effect),
    border-color var(--transition-effect);
}

.cust-link:hover,
.cust-link:focus {
  color: var(--color-pressed-state);
  border-color: var(--color-pressed-state);
}

.cust-icon {
  fill: currentColor;
}

/** --------------FOOTER---------------*/
/** --------------FOOTER---------------*/
/** --------------FOOTER---------------*/

.footer {
  background-color: var(--color-dark-navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-box-logo {
  text-align: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: var(--color-light-cloud);
}

.footer-text {
  width: 264px;
  color: var(--color-light-cloud);
}

/* -footer-box-soc- */
.footer-box-soc {
  text-align: center;
}

.footer-subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-soc-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-primary-brand);
  transition: background-color var(--transition-effect);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--color-green);
}

/* -footer-box-subscribe- */
.footer-box-subscribe {
  width: 100%;
  text-align: center;
}

.footer-subtitle {
}

.footer-sbscr-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.footer-form-label {
  /* display: block; */
  width: 100%;
}

.footer-form-input {
  display: inline-block;
  width: 100%;
  height: 40px;

  padding-left: 16px;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  border-radius: 4px;
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  opacity: 0.3;
}

.footer-form-input::placeholder {
  font-size: 12px;
  font-family: inherit;
  line-height: 24px;
  letter-spacing: 0.48px;
  color: var(--color-white);
}

.f-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;

  color: var(--color-white);
  background-color: var(--color-primary-brand);
}

.send-icon {
  fill: var(--color-white);
  margin-left: 16px;
}

/*  */
/* ----------MEDIA----------- */
/* ----------MEDIA----------- */
/* ----------MEDIA----------- */
/*  */

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (max-width: 427.98px) {
  .team-container {
    max-width: 296px;
  }

  .mob-menu-contact [href="tel:+110001111111"] {
    font-size: calc(5px + 3vw);
    /* font-size: calc(1rem + 1.23vw); */
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 24px 0;
  }
}

@media screen and (max-width: 1157.98px) {
  .benefits-subtitle {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
  }

  .benefits-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .products {
    display: none;
  }
}
