/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 428px) {
}

@media screen and (max-width: 427.98px) {
}

@media screen and (max-width: 768px) {
  .prtf-filter {
    justify-content: flex-start;
  }

  .prtf-cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}
@media screen and (min-width: 768px) {
}

@media screen and (max-width: 1158px) {
  .prtf-cards-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
}
