:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-light-cloud: #f4f4fd;
  --color-modal-overlay: rgba(46, 47, 66, 0.4);
  --color-hero-background: rgba(46, 47, 66, 0.7);
  --color-white: #ffffff;
  --color-modal-background: #fcfcfc;
  --color-page-backgraund: #e5e5e5;
  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.subtitle,
.prtf-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark-navy-blue);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn-prima {
  display: block;

  border-radius: 4px;
  border: none;

  margin-right: auto;
  margin-left: auto;

  color: var(--color-white);
  background-color: var(--color-primary-brand);
}

/* p,
h1,
h2,
h3,
h4,
ul,
div,
section,
header,
footer {
  outline: 1px dotted #ea160b;
} */

.section {
  padding-bottom: 120px;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** ----------------HEADER---------------*/

.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-primary-brand);
  text-transform: uppercase;
}

.header-logo {
  margin-right: 76px;
}

.header-logo-span {
  color: var(--color-dark-navy-blue);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-item {
}
.header-menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-dark-navy-blue);
  transition: color var(--transition-effect);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--color-pressed-state);
}

.current {
  position: relative;
  color: var(--color-pressed-state);
}

.current::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 4px;

  border-radius: 2px;

  background: #404bbf;
}

.contact {
  font-style: normal;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  transition: color var(--transition-effect);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-pressed-state);
}

/** ----------------HERO---------------*/

.hero {
  background-color: var(--color-dark-navy-blue);
  padding-bottom: 188px;
  padding-top: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.hero-container {
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-btn {
  min-width: 169px;
  padding: 16px 32px;

  transition: background-color var(--transition-effect);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-pressed-state);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark-navy-blue);
  margin-bottom: 72px;
}

/** ----------------ADVANTAGES эдвАнтеджес---------------*/

.adv {
  padding-top: 120px;
}

.adv-container {
}

.adv-title {
}

.adv-list {
  display: flex;
  gap: 24px;
}

.adv-item {
  flex-basis: calc((100% - 72px) / 4);
}

.adv-box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: #f4f4fd;
}

.adv-subtitle {
  margin-bottom: 8px;
}
.adv-text {
}

/** ----------------PRODUCTS прОдактс---------------*/

.products {
}
.products-title {
}
.products-list {
  display: flex;
  gap: 24px;
}
.products-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}

/** --------------OUR-TEAM---------------*/

.team {
  background-color: var(--color-light-cloud);
  padding-top: 120px;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-box-text {
  padding: 32px 0;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  margin: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.team-soc-item {
}
.soc-item {
}

.team-soc-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-primary-brand);
  transition: background-color var(--transition-effect);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-pressed-state);
}

.soc-icon {
  fill: var(--color-light-cloud);
}
.team-soc-icon {
}

/** --------------CUSTOMERS--------------*/

.customers {
  padding: 120px 0;
}
.customers-container {
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  height: 88px;
  flex-basis: calc((100% - 24px * 5) / 6);
}

.cust-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  transition: color var(--transition-effect),
    border-color var(--transition-effect);
}

.cust-link:hover,
.cust-link:focus {
  color: var(--color-pressed-state);
  border-color: var(--color-pressed-state);
}

.cust-icon {
  fill: currentColor;
}

/** ----------------FOOTER---------------*/

.footer {
  background-color: var(--color-dark-navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;

  align-items: baseline;
}

.footer-box-logo {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: var(--color-light-cloud);
}

.footer-text {
  width: 264px;
  color: var(--color-light-cloud);
}

/* -footer-box-soc- */
.footer-box-soc {
  margin-right: 80px;
}

.footer-subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-soc-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-primary-brand);
  transition: background-color var(--transition-effect);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--color-green);
}

/* -footer-box-subscribe- */
.footer-box-subscribe {
}

.footer-subtitle {
}

.footer-sbscr-form {
  display: flex;
  gap: 24px;
}
.footer-form-label {
}

.footer-form-input {
  display: inline-block;
  width: 264px;
  height: 40px;

  padding-left: 16px;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.footer-form-input::placeholder {
  font-size: 12px;
  font-family: inherit;
  line-height: 24px;
  letter-spacing: 0.48px;
  color: var(--color-white);
}

.f-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;

  color: var(--color-white);
  background-color: var(--color-primary-brand);
}

.send-icon {
  fill: var(--color-white);
  margin-left: 16px;
}

/** ----------PORTFOLIO.html---------------*/

.prtf-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.prtf-container {
}

/* --portfolio-menu-filter-- */

.prtf-filter {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.prtf-btn {
  color: var(--color-primary-brand);
  background-color: var(--color-light-cloud);

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  padding: 12px 24px;
  transition: color var(--transition-effect),
    background-color var(--transition-effect),
    border-color var(--transition-effect), box-shadow var(--transition-effect);
}

.prtf-btn:hover,
.prtf-btn:focus {
  color: var(--color-white);
  background-color: var(--color-pressed-state);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -portfolio-cards- */

.prtf-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.prtf-cards-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.prtf-box-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.prtf-card-link {
  display: block;
  transition: box-shadow var(--transition-effect);
}

.prtf-box-img {
  position: relative;
  overflow: hidden;
}

/* -portfolio-overlay- */

.prtf-card-link {
  transition: box-shadow var(--transition-effect);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light-cloud);
  background-color: var(--color-primary-brand);
  transform: translateY(100%);
  transition: transform var(--transition-effect);
}

.prtf-card-link:hover .overlay-text,
.prtf-card-link:focus .overlay-text {
  transform: translateY(0%);
}

.prtf-card-link:hover,
.prtf-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.prtf-subtitle {
  margin-bottom: 8px;
  padding-left: 16px;
}

.prtf-cards-text {
  padding-left: 16px;
}

/* ------------------MODAL--------------- */

.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-effect),
    visibility var(--transition-effect);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-effect);
  width: 408px;
  min-height: 584px;
  background-color: var(--color-modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

/* --modal btn close-- */

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-effect),
    border var(--transition-effect);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-pressed-state);
  border: none;
}

.modal-close-icon {
  transition: fill var(--transition-effect);
}

.modal-btn:hover .modal-close-icon,
.modal-btn:focus .modal-close-icon {
  fill: var(--color-white);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* --modal-form-- */
.modal-form {
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.input-wrap {
  position: relative;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-effect);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--color-primary-brand);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--color-primary-brand);
}

.textarea {
  width: 100%;
  padding: 8px 16px;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translatey(-50%);
  transition: fill var(--transition-effect);
}

/* -- checkbox-- */
.checkbox-field {
  margin-bottom: 24px;
}

.check-label {
  margin-bottom: 4px;

  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  outline: 1px dashed red;
}

.check-label .check-link {
  color: var(--color-primary-brand);
  text-decoration: underline;
}

.check-input {
  margin-right: 8px;

  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #8e8f99;
}

.check-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color var(--transition-effect),
    border var(--transition-effect), fill var(--transition-effect);
}

.check-input:checked + .check-label .check-span {
  background-color: var(--color-pressed-state);
  border: none;
  fill: var(--color-light-cloud);
}

.check-icon {
}

.check-link {
  margin-left: 8px;
}

/* -- button modal Send -- */

.btn-send {
  min-width: 169px;
  width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  background-color: var(--color-pressed-state);
}
